/* Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a; */

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
     font-family: 'Roboto'; 
}

body{
    /* font-family: 'Roboto'; */
    font-size: 12px;
}

a{
    text-decoration: none;
    color: black;
}

.titulo-cuotas{
    text-align: center;
}

.titulares-section{
    font-size:24px;
}

#Encabezado{
    background-color: #EAC926;
    padding-bottom: 8%;
}

.linea{
    display: inline;
}

.logo{
    width:50%;
    margin: 5%;
}

.elementos-busqueda{
    margin-left: 5%;
}

.barra-busqueda{
    border: solid grey 0.5px;
    border-radius: 4.5%;
}



.imagenes-productos{
    width:100%;

}

.contenedor-magnifying-glass .fa-solid{
    background-color: #ebebeb;
    padding-top: 0.5%;
    padding-left: 0.3%;
    padding-right: 0.3%;
    padding-bottom: 0.5%;
    border: solid grey 0.5px;
    border-radius: 10%;
    

}
.precio{
    font-size:18px;
}

.descuentos{
    font-size: 16px;
}

.descripciones{
   font-size:16px;
}

.contenedor-bars{
    text-align: center;
    font-size: 1.1rem; 
    background-color: #1259c3;
    width: 9%;
    color: white;
    border-radius: 8%; 
    padding-top:1.5%;
    padding-bottom:1.5%;
    margin: auto;
    margin-top: 8%;
}

 .menu-navegador, .menu-izquierda{
    margin-top: 3%;
    
} 

main{
   background-color: #ebebeb;
}

main section{
    width: 90vw;
    margin: auto;
    text-align: center;
} 

footer{
    background-color: white;
    
}

footer p{
    font-size: 12px;
}

.section-targeta, .section-regalo, .section-seguridad{
    text-align: center;
}

.fa-credit-card, .fa-gift, .fa-user-shield{
    color: #1259c3;
}


.descripcion-footer{
    max-width:75%;
    margin: auto;
}

.iconos-footer{
    margin-top: 11%;
    margin-bottom: 2%;
    font-size: 2em;
}

.Copyright{
    margin-top: 10%;
    margin-bottom: 5%;
    margin-left: 5%;
}

.Banner{
    display: flex;

}

.img-banner{
    width: 100%;
}

main section article{
    margin: 10px;
    /* margin: 10px; hace mas chico el articulo */
}