<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <header>
        <div><img src="/img/logo-mercado-liebre.svg"/></div>
        <p>Aca va la barra de busqueda</p>
        <p>Compra en cuotas y sin targeta de crédito</p>
        <nav>
            <ul>
                <a href="#"><li>Ofertas</li></a>
                <a href="#"><li>Tiendas Oficiales</li></a>
                <a href="#"><li>Vender</li></a>
                <a href="#"><li>Ayuda</li></a>
            </ul>

            <ul>
                <a href="#"><li>Creá tu cuenta</li></a>
                <a href="#"><li>ingresa</li></a>
                <a href="#"><li>Mis compras</li></a>
            </ul>
        </nav>
   </header>
   <main>
    <section>
        <header>
            <h3>Sección: Basado en tu última visita</h3>
        </header>    
        <article>
            <img src="img/img-cafetera-moulinex.jpg">
            <p>$6.770</p>
            <p>40% OFF</p>   
            <h4>Cafetera Moulinex</h4>
        </article>

        <article>
            <img src="img/img-macbook-pro-2019.jpg">
            <p>$230.000</p>
            <p>20% off</p>   
            <h4>MacBook Pro 2019</h4>
        </article>

        <article>
            <img src="img/img-samsung-galaxy-s10.jpg">
            <p>$70.500</p>
            <p>10% off</p>   
            <h4>Samsung Galaxy S10</h4>
        </article>

        <article>
            <img src="img/img-tv-samsung-smart.jpg">
            <p>$23.200</p>
            <p>5% off</p>   
            <h4> SmartTv Samsung 43"</h4>
        </article>
    </section>

    <section>
        <header>
            <h3>Sección de ofertas</h3>
        </header>

        <article>
            <img src="img/img-cafetera-moulinex.jpg">
            <p>$6.770</p>
            <p>40% OFF</p>   
            <h4>Cafetera Moulinex</h4>
        </article>

        <article>
            <img src="img/img-macbook-pro-2019.jpg">
            <p>$230.000</p>
            <p>20% off</p>   
            <h4>MacBook Pro 2019</h4>
        </article>

        <article>
            <img src="img/img-samsung-galaxy-s10.jpg">
            <p>$70.500</p>
            <p>10% off</p>   
            <h4>Samsung Galaxy S10</h4>
        </article>

        <article>
            <img src="img/img-tv-samsung-smart.jpg">
            <p>$23.200</p>
            <p>5% off</p>   
            <h4> SmartTv Samsung 43"</h4>
        </article>
    </section>
   </main>
   <footer>
        <section>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
               puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
              productos. Es un beneficio de Mercado Puntos.</p>
        </section>

        <section>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>

        <section><p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p></section>
   </footer>
    
</body>
</html>